{% extends 'base.html.twig' %}
{% block body %}
    {% include 'menu.html.twig' %}
    <section id="main-content">
        <section class="wrapper" style="margin-top: 0px;">
            <div class="col-md-12 mt">
                <div class="content-panel">
                    <a href="{{ path('add_trad', {'id': id}) }}"><button type="button" style="margin: 10px;" class="btn btn-warning">RANDOM TRAD</button></a>
                    <a href="{{ path('choose_file') }}"><button type="button" style="margin: 10px;" class="btn btn-warning">CHOOSE A FILE</button></a>
                </div><! --/content-panel -->
            </div>
        </section><! --/wrapper -->
    </section> <! MENU -->

{% endblock %}